<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Index</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
  <form method="POST" class="post-form" action="/update/{{employee.id}}">
    {% csrf_token %}
    <div class="container">
      <br>
      <div class="form-group">
        <label class="col-sm-auto col-form-label"></label>
        <div class="col-sm-auto">
          <h3>Update Details</h3>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-auto col-form-label">Employee Id:</label>
        <div class="col-sm-4">
          <input type="text" name="id" id="id_id" required maxlength="20" value="{{ employee.id }}" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-auto col-form-label">Employee Name:</label>
        <div class="col-sm-4">
          <input type="text" name="ename" id="id_ename" required maxlength="100" value="{{ employee.name }}" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-auto col-form-label">Employee Email:</label>
        <div class="col-sm-4">
          <input type="email" name="email" id="id_email" required maxlength="254" value="{{ employee.email }}" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-auto col-form-label">Employee Contact:</label>
        <div class="col-sm-4">
          <input type="text" name="Phone_Number" id="id_Phone_Number" required maxlength="15"
            value="{{ employee.Phone_Number }}" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-auto col-form-label"></label>
        <div class="col-sm-4">
          <button type="submit" class="btn btn-success">Update</button>
        </div>
      </div>
    </div>
  </form>
</body>

</html>